<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="description" content="Maestrito.com tu tienda online para tus pedidos ferreteros">
    <meta name="keywords" content="Ferretería, Ecommerce, productos ferreteros, Herramientas, Construcción">
    <meta name="author" content="Eleo Alonzo">
    <%- include('partials/head') %>
</head>

<body>
    <header>
        <%- include('partials/header') %>
            <%- include('partials/navigation') %>
    </header>

    
    <main>
        <section class="hero">
            <img src="/img/hero.jpg" alt="banner principal del sitio web">
        </section>
        <section class="about">
            <div class="col izq">
                <img src="/img/ferre.png" alt="tienda maestrito">
            </div>
            <div class="col der">
                <h3>Todo lo que Necesitas para Construir con Confianza</h3>
                <h1>Amplia gama de materiales de construcción</h1>
                <p>
                    Ofrecemos una amplia gama de materiales de construcción para cubrir todas tus necesidades. Desde una variada selección de ladrillos, que incluyen tanto opciones tradicionales como bloques modernos, hasta madera de alta calidad para estructuras, pisos, cubiertas y acabados, en diversas especies y tamaños. 
                </p>
                <a class="boton" href="/tienda">Ver productos</a>
            </div>
        </section>
        <section class="productos">
            <h2 class="titulos-h2">Productos destacados</h2>
            <h3 class="subtitulos">Descuentos especiales en marcas seleccionadas</h3>
            <div class="cuadricula">
                <div class="cuadro">
                    <img src="/img/taladro.png" alt="">
                    <h4>Caterpilar</h4>
                    <h3>Taladro Percutor 600W</h3>
                    <h5>S/ 700</h5>
                    <p>S/ 519</p>
                    <div class="separador"></div>
                    <div class="cantidad">
                        <input value="1" type="number">
                        <button class="boton">Agregar</button>
                    </div>
                </div>
                <div class="cuadro">
                    <img src="/img/taladro.png" alt="">
                    <h4>Caterpilar</h4>
                    <h3>Taladro Percutor 600W</h3>
                    <h5>S/ 700</h5>
                    <p>S/ 519</p>
                    <div class="separador"></div>
                    <div class="cantidad">
                        <input value="1" type="number">
                        <button class="boton">Agregar</button>
                    </div>
                </div>
                <div class="cuadro">
                    <img src="/img/taladro.png" alt="">
                    <h4>Caterpilar</h4>
                    <h3>Taladro Percutor 600W</h3>
                    <h5>S/ 700</h5>
                    <p>S/ 519</p>
                    <div class="separador"></div>
                    <div class="cantidad">
                        <input value="1" type="number">
                        <button class="boton">Agregar</button>
                    </div>
                </div>
                <div class="cuadro">
                    <img src="/img/taladro.png" alt="">
                    <h4>Caterpilar</h4>
                    <h3>Taladro Percutor 600W</h3>
                    <h5>S/ 700</h5>
                    <p>S/ 519</p>
                    <div class="separador"></div>
                    <div class="cantidad">
                        <input value="1" type="number">
                        <button class="boton">Agregar</button>
                    </div>
                </div>

            </div>
        </section>
        <%- include('partials/canal-venta') %>
        <section class="marcas">
            <h2 class="titulos-h2">Compra por Marca</h2>
            <div class="marca-logo">
                <div>
                    <img src="/img/logo-marcas/1.png" alt="logo marca 1">
                </div>
                <div>
                    <img src="/img/logo-marcas/2.png" alt="logo marca 2">
                </div>
                <div>
                    <img src="/img/logo-marcas/3.png" alt="logo marca 3">
                </div>
                <div>
                    <img src="/img/logo-marcas/1.png" alt="logo marca 4">
                </div>
                <div>
                    <img src="/img/logo-marcas/3.png" alt="logo marca 5">
                </div>
            </div>
        </section>
    </main>
    







    <%- include('partials/footer') %>
</body>

</html>